<mat-card style="max-width: 400px; margin: 3rem auto; padding: 3rem; ">
    <form class="change-form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="currentPassword">
            <mat-error *ngIf="currentPassword?.hasError('required')">
                Pole jest wymagane
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="newPassword?.hasError('required')">
                Pole jest wymagane
            </mat-error>
            <mat-error *ngIf="newPassword?.hasError('minlenght')">
                Hasło musi mieć co najmniej 8 znaków
            </mat-error>
        <mat-error *ngIf="newPassword?.hasError('pattern')">
            Hasło musi zawierać co najmniej 1 dużą litere cyfre i znak specjalny
        </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Potwierdz hasło</mat-label>
            <input matInput type="password" formControlName="confirmPassword" >
            <mat-error *ngIf="confirmPassword?.hasError('required')">
                Pole jest wymagane
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('passwordMismatch') && confirmPassword?.touched">
    Hasła nie są takie same
  </mat-error>  
        </mat-form-field>

        <button mat-raised-button [disabled]="passwordForm.invalid">Zmień</button>
    </form>

</mat-card>
