<div class="topbar">

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu">

    <mat-icon>account_circle</mat-icon>

  </button>

</div>

<mat-menu  #menu="matMenu">
  <button 
    mat-menu-item
    *ngIf = "isAdmin"
    routerLink="/admin">
    Panel admina
  </button>


  <button
    mat-menu-item
    routerLink="/tasks">

    Zadania

  </button>

  <button
    mat-menu-item
    routerLink="/addTask">

    Dodaj zadanie

  </button>

  <button
    mat-menu-item
    routerLink="/password">

    Zmień hasło

  </button>

  <button
    mat-menu-item
    (click)="logout()">

    Wyloguj

  </button>

</mat-menu>